# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# env
.env
.env.*

# output
*.json
*.log

# generated data
data/events.json

# master data
!data/organizations.json
public/events.json

# lambda build and deploy
build/
lambda_function.zip
lambda-trust-policy.json
lambda-dynamodb-policy.json


# local AWS deploy policy files
scheduler-trust-policy.json
scheduler-lambda-invoke-policy.json

# local AWS DynamoDB query policy files
lambda-dynamodb-query-index-policy.json

# local AWS S3 export policy files
lambda-s3-putobject-policy.json


# local CloudFront setup files
cloudfront-distribution-config.json
cloudfront-create-output.json
s3-cloudfront-oac-bucket-policy.json

# local custom domain setup files
cert-validation-records.json
cert-validation-change-batch.json
cf-config-output.json
cf-updated-config.json
cf-update-output.json
route53-cloudfront-alias-records.json

# Step Functions definitions are source files
!infra/step-functions/*.asl.json
