# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# venv
.venv/
venv/

# env
.env
.env.*

# output
*.json
*.log

# generated data
data/events.json

# master data
!data/organizations.json
public/events.json
